.productsContainer {
  margin-top: 1.5rem;
  min-height: 68.3vh;
}

.productsWrapper {
  .productItem {
    background-color: #fff;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .productImg {
      max-width: 200px;
      height: 200px;
      border-radius: 8px;
      margin-bottom: 15px;
      object-fit: contain;
    }
    .productTitle {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .productPrice {
      font-size: 16px;
    }
  }
}

.productItem .actionButtonsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 0.8rem;
  padding-top: 0.8rem;
  .cardButton {
    background-color: var(--primary-color);
    color: #fff;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    line-height: 0;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--primary-color-dark);
    }
  }
}

.detailsBtn {
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  line-height: 0;
  border: none;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    color: var(--primary-color-dark);
  }
}

.productItem .controlsButtonsBox .quantityText {
  font-size: 1.1rem;
}
.productItem .controlsButtonsBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
